# Datasets
data/
dataset/

# Python environments
.venv/
venv/
env/

# Python cache
src/__pycache__/
src/.ipynb_checkpoints/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env
.env.*

# Large model files
*.pth
*.pt
*.h5
*.pkl
*.joblib